{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn",
    "semi": ["error", "never"]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended"
  ]
}
